.index-page {
  font-size: 12px;
}
.index-page h1 {
  font-size: 18px;
}
.index-page button:link,
.index-page button:active,
.index-page button:visited,
.index-page button:focus,
.index-page button:hover,
.index-page button {
  font-size: 12px;
  border-radius: 3px;
  padding: 5px 8px;
  background: none;
  margin-right: 6px;
  border: 1px solid #dcdfe6;
  color: #606266;
  cursor: pointer;
  outline: none;
}
.index-page button:active {
  color: #333;
}
